/* 
  --mtk1: #abb2bf;
  --mtk2: #282c34;
  --mtk3: #5c6370;
  --mtk4: #e5c07b;
  --mtk5: #c678dd;
  --mtk6: #61afef;
  --mtk7: #d19a66;
  --mtk8: #56b6c2;
  --mtk9: #e06c75;
  --mtk10: #be5046;
  --mtk11: #98c379;
  --mtk12: #523d14;
  --mtk13: #e0c285;
  --mtk14: #e05252;
  --mtk15: #828997;
  --mtk16: #6796e6;
  --mtk17: #cd9731;
  --mtk18: #f44747;
  --mtk19: #b267e6;
*/

:root {
  --mtk1: #abb2bf;
  --mtk2: #282c34;
  --mtk3: #e05252;
  --mtk4: #e5c07b;
  --mtk5: #5c6370;
  --mtk6: #e06c75;
  --mtk7: #be5046;
  --mtk8: #6796e6;
  --mtk9: #61afef;
  --mtk10: #d19a66;
  --mtk11: #523d14;
  --mtk12: #98c379;
  --mtk13: #e0c285;
  --mtk14: #828997;
  --mtk15: #f44747;
  --mtk16: #56b6c2;
  --mtk17: #cd9731;
  --mtk18: #c678dd;
  --mtk19: #b267e6;

  --vscode-list-inactiveSelectionBackground: #2c313a;
  --vscode-list-warningForeground: #cca700;

  --sidebar-background: #181818;
  --bracket-highlighting-0: #ffd700;
}

/* atom js line color */
[data-language="javascript"] .cm-line {
  color: var(--mtk8) !important;
}