:root {
  --p-color-bg-fill-brand-active: #fff !important;
}

[data-diffy-attribute="tablist"] {
  display: inline-table;
}

[data-diffy-attribute="tablist"] [role="presentation"] {
  display: inline-table;
  position: relative;
}

[data-diffy-attribute="tablist"] [role="presentation"] button:nth-child(2) {
  height: 1rem;
  padding: 0;
  width: 1rem;
  position: absolute;
  top: 0.5rem;
  right: 5px;
  fill: grey;
}

[p-color-scheme="dark"] [data-diffy-attribute="tablist"] [role="presentation"] button:nth-child(2):hover {
  /* background-color: #a79797; */
  background-color: transparent;
}

[p-color-scheme="dark"] [data-diffy-attribute="versionsLayoutGroup"] button:hover {
  background-color: #1c1b1be0;
}

/*[data-diffy-attribute="tablist"] [role="presentation"] button:nth-child(2) span:not([class^="Polaris-Icon"]) {
   background-color: #fff !important;
}*/
button:has('.Polaris-Button--disabled_') {
  --pc-button-box-shadow: 0px;
}

[data-diffy-attribute="versionsLayoutGroup"] span[class^="Polaris-Text--root_"] {
  font-size: 14px !important
}

[data-diffy-attribute="versionsLayoutGroup"] {
  display: flex;
}

[role="tab"].is-liquid,
[role="tab"].is-css,
[role="tab"].is-js,
[role="tab"].is-json {
  font-size: 12px;
}

button.eLWpb.hUFhI span:last-child {
  margin-left: 2px;
  margin-top: 4px;
}

.h6h4J:first-child {
  border-left: .0625rem solid var(--p-color-border-secondary);
}

.Online-Store-UI-LayoutGroup-Item_cqdv4 button.Polaris-Button.Polaris-Button--pressable.Polaris-Button--variantSecondary.Polaris-Button--sizeMedium.Polaris-Button--textAlignCenter {
  background: transparent;
  box-shadow: none;
  border: 1px solid;
  height: 1px;
}

button.Online-Store-UI-NavItem__PrimaryAction_eiqvh:hover {
  background: transparent;
}