:root {
  --mtk1: #cccccc;
  --mtk2: #1f1f1f;
  --mtk3: #d4d4d4;
  --mtk4: #000080;
  --mtk5: #6a9955;
  --mtk6: #569cd6;
  --mtk7: #b5cea8;
  --mtk8: #646695;
  --mtk9: #d7ba7d;
  --mtk10: #9cdcfe;
  --mtk11: #f44747;
  --mtk12: #ce9178;
  --mtk13: #6796e6;
  --mtk14: #808080;
  --mtk15: #d16969;
  --mtk16: #dcdcaa;
  --mtk17: #4ec9b0;
  --mtk18: #c586c0;
  --mtk19: #4fc1ff;
  --mtk20: #c8c8c8;
  --mtk21: #cd9731;
  --mtk22: #b267e6;

  --vscode-list-inactiveSelectionBackground: #37373d;
  --vscode-list-warningForeground: #cca700;

  --sidebar-background: #181818;
  --bracket-highlighting-0: #ffd700;
}

